// 資料庫
@import '../scss/partials/shared';

.camp {


  .hasSide {
    border-top: #E5E5E5 1px solid;
    padding-top: 30px;
    display: none !important;

    &.active {
      display: flex !important;
    }
  }

  .contentBox {
    .content {
      display: none !important;

      &.active {
        display: block !important;
      }
    }
  }
}