// 資料庫
@use '../scss/partials/shared' as *;

body {
  overflow: hidden;

  &.loaded {
    overflow: visible;
  }

  .indexVideo {
    pointer-events: none;
  }
}

.indexVideo {
  position: fixed;
  inset: 0;
  z-index: 999;
  background: #fff;
  @include transition(all, 2);

  &.active {
    opacity: 0;
    transform: scale(2);
  }

  video {
    width: 100%;
    height: 100%;
  }
}

.banner {
  padding-bottom: 0;
  position: relative;
  isolation: isolate;
  overflow: hidden;


  .swiper-wrapper {
    align-items: stretch;

    .swiper-slide {
      height: unset;
    }
  }

  .swiper-pagination {
    width: auto;
    position: absolute;
    top: 60px;
    bottom: auto;
    right: 30px;
    left: auto;
    z-index: 9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    @include screen('mobile') {
      right: 15px;
      top: 20px;
      gap: 10px;
    }

    .swiper-pagination-bullet {
      margin: 0;
      width: 12px;
      height: 12px;
      background: transparent;
      padding: 0;
      margin: 0;
      border: #FFF 1px solid;
      opacity: 1;
      box-sizing: content-box;

      @include screen('mobile') {
        width: 8px;
        height: 8px;
      }

      &.swiper-pagination-bullet-active {
        background: #FFF;
      }
    }
  }
}

.indexMore {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 10px 10px;
  color: #fff;
  background: $secColor;
  font-size: 13px;
  letter-spacing: 3px;
  font-weight: 300;
  overflow: hidden;
  isolation: isolate;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    background: $mainColor;
    z-index: -1;
    @include transition(all, 0.3);
  }

  &::after {
    content: '';
    width: 13px;
    height: 13px;
    display: block;
    background: url('../images/icon/icon_arrow.svg') center no-repeat;
    transform: rotate(180deg);
    filter: invert(1);
  }

  &:hover {
    color: #fff;

    &::before {
      width: 100%;
      left: 0;
    }
  }
}

.wrapper .siteMain {
  padding-bottom: 0;

}

section {
  .blockTitle {
    color: #08111F;
    font-weight: 400;
    line-height: 1;
    font-size: var(--clamp36);


    span {
      display: block;
      color: #000;
      font-weight: 600;
      font-size: var(--clamp48);
    }
  }
}

.newsBox {
  overflow: hidden;
  position: relative;

  @include screen('mobile') {
    padding: 50px 0;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    display: block;
    background: url('../images/index/nb.jpg') left bottom no-repeat;

    @include screen('mobile') {
      background-position: top left;
      background-size: contain;
      opacity: 0.5;
    }
  }

  .container {
    max-width: calc(1560px + var(--contentPadding));
    display: flex;
    overflow: hidden;
    flex-direction: column;
    gap: 30px;

    @include screen('mobileMin') {
      display: block;
      margin: 0 0 0 auto;
      padding-right: 0;
      gap: 0;
    }
  }

  .blockTitle {
    color: $mainColor;
  }

  .side {
    display: flex;
    flex-direction: column;
    gap: 30px;
    float: left;

    @include screen('mobileMin') {
      width: 250px;
      padding: 90px 0;
    }
  }

  .listBox {
    position: relative;
    float: right;

    @include screen('mobileMin') {
      width: calc(100% - 250px - var(--contentPadding));
    }

    &:hover {

      .swiper-button-next,
      .swiper-button-prev {
        opacity: 1;
      }
    }

    a {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include screen('tablet') {
        flex-direction: column;
      }

      &:hover {
        .more {
          &::before {
            width: 100%;
            left: 0;
          }
        }

        .pic {
          img {
            transform: scale(1.5);
          }
        }
      }
    }

    .swiper-slide {
      padding: 0px;
      border-left: #E5E5E5 1px solid;

      @include screen('mobileMin') {
        padding: 90px 40px;
      }
    }

    .pic {
      overflow: hidden;
      margin-bottom: 10px;
      aspect-ratio: 1;

      img {
        object-fit: cover;
        @include transition(all, 25);
      }
    }

    .info {
      display: flex;
      gap: 20px;
    }

    .title {
      font-size: 21px;
      line-height: 1.2;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      font-weight: 600;
    }

    time {
      color: #000;
      font-size: 13px;
      font-weight: 500;
    }

    .tag {
      color: $mainColor;
      font-size: 15px;
    }

    .description {
      color: #444444;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }

  .indexMore {
    @include screen('mobile') {
      margin: 0 auto;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 54px;
    height: 104px;
    top: 40%;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    opacity: 0;
    @include transition(all, 0.3);

    @include screen('mobile') {
      opacity: 1;
    }

    &::after {
      content: '';
      width: 54px;
      height: 104px;
      display: block;
      mask: url('../images/icon/icon_arrow_swiper.svg') center no-repeat;
      background: $mainColor;
    }
  }

  .swiper-button-prev {
    left: 10px;

    @include screen('mobile') {
      left: -10px;
    }
  }

  .swiper-button-next {
    right: calc(var(--contentPadding) + 10px);

    @include screen('mobile') {
      right: -10px;
    }

    &::after {
      transform: rotate(180deg);
    }
  }
}

.aboutBox {
  position: relative;

  &::before {
    content: '';
    display: block;
    top: 120px;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 2000px;
    position: absolute;
    background: #F5F8FA;
    z-index: -1;

    @media screen and (max-width: 1920px) {
      max-width: 1660px;
    }
  }

  .outer {
    isolation: isolate;
    padding-bottom: 5%;

    @include screen('tablet') {
      padding-bottom: 40px;
    }
  }

  .pic {
    max-width: 1560px;
    margin: 0 auto -120px 0;
    position: relative;

    @include screen('tablet') {
      margin: 0 auto -100px 0;
    }

    @include screen('mobile') {
      margin: 0 auto -80px 0;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      display: block;
      background: repeating-linear-gradient(to right, rgba($mainColor, 1) 0%, rgba($secColor, 1) 25%, rgba($mainColor, 1) 50%);
      background-size: 200%;
      mix-blend-mode: multiply;
      animation: beforeUse 10s linear infinite;
    }

    @keyframes beforeUse {
      0% {
        background-position: 0 0;
      }

      100% {
        background-position: 100% 0;
      }
    }
  }

  .blockTitle {
    color: #fff;
    margin-bottom: 80px;

    @include screen('mobile') {
      margin-bottom: 40px;
    }

    span {
      color: #fff;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;

    @include screen('mobile') {
      flex-direction: column;
    }
  }

  .description {
    max-width: 800px;
    font-size: var(--clamp18);
    color: #444444;
  }

  .indexMore {
    flex-shrink: 0;

    @include screen('mobile') {
      margin: 0 auto;
    }
  }
}