// 資料庫
@import '../scss/partials/shared';

//list
.newsList {
  .contentBox {
    padding-top: 0;

    .listBox {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      border-top: #E5E5E5 1px solid;

      .item {
        border-bottom: #E5E5E5 1px solid;
        padding-top: 30px;
        padding-bottom: 30px;

        @media screen and (min-width: 500px) {
          border-left: #E5E5E5 1px solid;
        }

        @media screen and (max-width: 767px) and (min-width: 500px) {
          width: 50%;

          &:nth-child(2n + 1) {
            border-left: none;
            padding-right: 30px;
          }

          &:nth-child(2n + 2) {
            padding-left: 30px;
          }
        }

        @media screen and (min-width: 767px) {

          &:nth-child(3n + 1) {
            border-left: none;
            padding-right: 30px;
            width: calc((100% - 30px * 4) / 3 + 30px);
          }

          &:nth-child(3n + 2) {
            padding-left: 30px;
            padding-right: 30px;
            width: calc((100% - 30px * 4) / 3 + 60px);
          }

          &:nth-child(3n + 3) {
            padding-left: 30px;
            width: calc((100% - 30px * 4) / 3 + 30px);
          }
        }

        &:hover {
          .more {
            opacity: 1;
          }

          .pic {
            img {
              transform: scale(1.5);
            }
          }
        }
      }

      a {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 10px;
        padding-bottom: 40px;

        @include screen('tablet') {
          flex-direction: column;
        }
      }

      .pic {
        overflow: hidden;
        margin-bottom: 10px;
        aspect-ratio: 1;

        img {
          object-fit: cover;
          @include transition(all, 25);
        }
      }

      .info {
        display: flex;
        gap: 20px;
      }

      .title {
        font-size: 21px;
        line-height: 1.2;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        font-weight: 600;
      }

      time {
        color: #000;
        font-size: 13px;
        font-weight: 500;
      }

      .tag {
        color: $mainColor;
        font-size: 15px;
      }

      .description {
        color: #444444;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }

      .more {
        display: flex;
        align-items: center;
        gap: 5px;
        color: $mainColor;
        font-size: 13px;
        opacity: 0;
        @include transition(all, 0.3);
        position: absolute;
        left: 0;
        bottom: 0px;
        font-weight: 600;

        &::after {
          content: '';
          width: 13px;
          height: 10px;
          display: block;
          mask: url('../images/icon/icon_arrow_more.svg') center no-repeat;
          background: $mainColor;
        }
      }
    }
  }
}

.newsDetail {

  .contentBox {
    .pageTitle {
      text-align: left;
      display: flex;
      gap: 10px;
      line-height: 1.2;
      position: relative;
      padding-left: 30px;
      font-size: var(--clamp36);
      font-weight: 600;

      &::before {
        content: '';
        width: 8px;
        height: 34px;
        display: block;
        background: linear-gradient(80deg, rgba(0, 141, 179, 1) 0%, rgba(233, 243, 247, 1) 50%);
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .editorOuter {
      position: relative;
      isolation: isolate;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 720px;
        background: linear-gradient(to bottom, rgba(245, 248, 250, 1) 0%, rgba(245, 248, 250, 0) 100%);
        z-index: -1;
      }
    }

    .content {
      max-width: 940px;
      margin: 0 auto;
    }

    .info {
      display: flex;
      gap: 20px;
      margin-bottom: 10px;
    }

    time {
      color: #000;
      font-size: 13px;
      font-weight: 500;
    }

    .tag {
      color: $mainColor;
      font-size: 15px;
    }
  }
}