// 資料庫
@import '../scss/partials/shared';

.resources {
  .editor {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .block {
      .listBox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 8px;

        .pic {
          img {
            @include transition(all, 15);
          }

          &:hover {
            img {
              transform: scale(1.5);
            }
          }
        }
      }
    }

    .title {
      font-size: var(--clamp24);
      color: $mainColor;
      font-weight: 600;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 10px;

      &::before {
        content: '';
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 4px solid $secColor;
      }
    }

    .description {
      margin-top: 0;
    }
  }
}

.resourcesList {
  .contentBox {
    .listBox {
      display: flex;
      flex-wrap: wrap;
      gap: 25px;
    }

    .item {
      @include itemWidth(25, 2);

      @include screen('mobile') {
        @include itemWidth(25, 1);
      }

      a {
        display: block;
        position: relative;

        &:hover {
          .pic {
            img {
              transform: scale(1.5);
            }
          }

          .info {
            &::before {
              opacity: 0;
            }

            &::after {
              opacity: 1;
            }
          }
        }
      }

      .pic {
        img {
          @include transition(all, 15);
        }
      }

      .info {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 20px;
        isolation: isolate;

        &::before {
          content: '';
          position: absolute;
          inset: 0;
          display: block;
          background: linear-gradient(to right, rgba(#222222, 0.8) 0%, rgba(#666666, 0.8) 100%);
          z-index: -1;
          @include transition(all, 0.3);
        }

        &::after {
          content: '';
          position: absolute;
          inset: 0;
          display: block;
          background: linear-gradient(to right, rgba($mainColor, 0.8) 0%, rgba($mainColor, 0) 100%);
          opacity: 0;
          z-index: -1;
          @include transition(all, 0.3);
        }
      }

      .title {
        color: #FFF;
        font-size: var(--clamp21);
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.2;
        // overflow: hidden;
        // display: -webkit-box;
        // -webkit-line-clamp: 1;
        // -webkit-box-orient: vertical;
      }
    }
  }
}

.resourcesDetail {
  .contentBox {

    .listBox {
      display: flex;
      flex-wrap: wrap;
      gap: 18px;
    }

    .item {
      @include itemWidth(18, 3);

      @include screen('mobile') {
        @include itemWidth(18, 2);
      }

      a {
        display: block;
        position: relative;

        &:hover {
          .pic {
            img {
              transform: scale(1.5);
            }
          }

          .info {
            &::before {
              opacity: 0;
            }

            &::after {
              opacity: 1;
            }
          }
        }
      }

      .pic {
        aspect-ratio: 311/208;
        overflow: hidden;

        img {
          @include transition(all, 15);
          object-fit: cover;
        }
      }
    }
  }
}