// 資料庫
@use '../scss/partials/shared' as *;
@import './partials/import';
@import './partials/normalize';
@import './partials/keyframes';
@import './partials/base';


// 手機版按鈕
.mobileBtn {
  display: none;
  @include transition(all, 0.3);
  background: none;
  border: none;
  // @include screen('tablet') {
  width: 50px;
  height: 50px;
  z-index: 80;
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0px;
  top: 0;

  @include screen('tabletMin') {
    display: none;
  }

  &::before,
  &::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 2px;
    background: #000;
    box-shadow: #000 0 7px 0 0, #000 0 -7px 0 0;
    @include transition(all, 0.3);
  }

  &::after {
    box-shadow: none;
    opacity: 0;
  }

  span {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;

    @include screen('tablet') {
      display: none;
    }
  }

  &:hover {

    &::before,
    &::after {
      background: $mainColor;
      box-shadow: $mainColor 0 7px 0 0, $mainColor 0 -7px 0 0;
    }
  }
}

.mobileOpen .mobileBtn {
  &::before {
    box-shadow: none;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(-45deg);
    box-shadow: none;
  }
}

// head
.siteHeader {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  isolation: isolate;
  z-index: 99;
  background: #fff;

  @include screen('tablet') {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-bottom: none;
  }

  .headerBox {

    .container {
      position: static;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      height: 90px;

      @include screen('tablet') {
        height: 50px;
      }
    }
  }

  .logo {
    line-height: 0;
    margin: 0 auto 0 0;

    @include screen('tablet') {
      margin: 0 auto 0 0;
    }


    img {
      height: 55px;

      @include screenWidth('1350') {
        height: 40px;
      }

      @include screenWidth('1200') {
        height: 30px;
      }
    }
  }
}

.headFix {
  @include screen('tabletMin') {
    .wrapper {
      padding-top: 67px;
    }

    .siteHeader {
      @include screen('tabletMin') {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        background: #fff;

        .headerBox {

          .container {
            height: 60px;

            .outer {
              padding: 0px 0;
              height: 60px;
            }
          }
        }

        .logo {
          img {
            height: 40px;

            @include screenWidth('1200') {
              height: 30px;
            }
          }
        }
      }
    }

    .menuBox .mainMenu > ul {
      & > li {
        padding: 0;

        & > a,
        & > button {
          height: 60px;
        }
      }

      .full .nextMenuBox {
        top: 67px;
      }
    }
  }
}

// wrapper
.wrapper {
  @include screen('tablet') {
    padding-top: 50px;
  }

  .siteMain {
    padding-bottom: clamp(60px, 10vw, 100px);

    @include screen('mobile') {
      background-size: contain;
    }
  }
}

// insidePages
.insidePages {

  .inBanner {
    position: relative;
    isolation: isolate;
    z-index: 2;
    background: url('../images/in/inside_banner.jpg') center center no-repeat;
    background-size: cover;

    .outer {
      height: 150px;
      display: flex;
      align-items: center;
    }

    .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .title {
      color: #FFF;
      font-size: var(--clamp48);
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 1.2;
      position: relative;
      margin: 0;

      @include screen('tablet') {
        font-size: Rem(40);
      }

      @include screen('mobile') {
        font-size: Rem(42);
        margin-bottom: 5px;
      }

      @include screen('xs_mobile') {
        font-size: Rem(32);
      }

      span {
        font-size: var(--clamp28);
        font-weight: 500;
        display: block;
      }
    }
  }

  .navBox {
    position: relative;
    z-index: 9;
    padding-bottom: 20px;
    margin-bottom: clamp(40px, 5%, 100px);

    @include screen('tablet') {
      display: none;
    }

    button {
      width: 100%;
      padding: 10px 20px;
      font-size: Rem(18);
      font-weight: 700;
      color: #000;
      display: block;
      background: #FFF;
      border: #dddddd 1px solid;
      display: none;
      line-height: 1.75;
      cursor: pointer;

      @include screen('tablet') {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &::after {
        content: '';
        width: 12px;
        height: 12px;
        border: 2px solid #000;
        transform: rotate(45deg);
        border-width: 0 2px 2px 0;
      }
    }

    @include screen('tabletMin') {
      display: flex;

      button {
        display: none;
      }
    }

    .title {
      font-size: Rem(36);
      font-weight: 800;
      padding: 0 60px 0 40px;
      margin-right: 40px;
      border-right: 1px solid #000;

      @include screen('tablet') {
        display: none;
      }
    }

    nav {
      border-bottom: #DADAD5 1px solid;

      ul {
        height: 100%;
        display: none;
        border: #dddddd 1px solid;

        @include screen('tablet') {
          background: #FFF;
        }

        @include screen('tabletMin') {
          display: flex !important;
          flex-direction: row;
          justify-content: center;
          border: none;
          gap: 20px;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 500;
          padding: 10px 20px;
          font-size: Rem(21);
          font-weight: 700;
          position: relative;

          @include screen('tabletMin') {
            height: 100%;
            font-size: Rem(21);
          }

          &::before {
            content: '';
            position: absolute;
            height: 5px;
            bottom: 0;
            left: 0;
            width: 0;
            background: $secColor;
            display: block;
            @include transition(all, 0.3);
          }

          &:hover {
            color: $secColor;

            &::before {
              width: 100%;
            }
          }
        }

        .active a {
          color: $secColor;

          &::before {
            width: 100%;
          }
        }
      }
    }
  }

  .mainBox {
    position: relative;

    section {
      padding-top: 70px;
      position: relative;
      z-index: 3;

      @include screen('tablet') {
        padding-top: 50px;
      }
    }
  }

  .contentBox {

    .pageTitle {
      color: #000;
      font-size: var(--clamp36);
      font-weight: 500;
      margin-bottom: 50px;
      text-align: center;

      @include screenWidth('1440') {
        margin-bottom: 30px;
      }

      @include screen('tablet') {
        margin-bottom: 30px;
      }
    }

    .editorOuter {
      font-size: var(--clamp18);
      color: #444444;
      border-top: #E5E5E5 1px solid;
      padding-top: 50px;
      margin-bottom: 50px;

      @include screenWidth('1440') {
        padding-top: 30px;
        margin-bottom: 30px;
      }
    }
  }

  .contentTopNav {
    margin-bottom: 30px;

    ul {
      display: flex;
      gap: 15px;

      @include screen('mobile') {
        gap: 5px;
      }

      li {

        a,
        button {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: var(--clamp18);
          padding: 8px 20px;
          margin: 0;
          font-weight: 700;
          color: #666666;
          background: none;
          border-radius: 8px;
          border: #CCCCCC 1px solid;
          @include transition(all, 0.3);

          @include screen('mobile') {
            padding: 8px 10px;
          }

          &:hover {
            color: $mainColor;
            border-color: $mainColor;
          }
        }

        &.active {

          a,
          button {
            color: $mainColor;
            border-color: $mainColor;
          }
        }
      }
    }
  }

  .hasSide {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;

    @include screen('tabletMin') {
      flex-direction: row;
      gap: 50px;
    }

    &.active {
      .sideBox {
        & > button {
          background: $secColor;

          &::after {
            transform: translateY(40%) rotate(225deg);
          }
        }

        ul {
          border-color: $secColor;
        }
      }
    }

    .sideBox {
      position: relative;
      z-index: 9;
      width: 100%;

      @include screen('tabletMin') {
        width: 180px;
        flex-shrink: 0;
        margin: 0;
      }

      & > button {
        color: #FFF;
        background: $mainColor;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: none;
        padding: 15px 40px;
        text-align: center;
        font-size: Rem(20);
        font-weight: 500;
        position: relative;
        border-radius: 10px;

        @include screen('tabletMin') {
          display: none;
        }

        &::after {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          transform: translateY(-10%) rotate(45deg);
          margin: 0 0 0 20px;
          border: 2px solid #FFF;
          border-width: 0 2px 2px 0;
          @include transition(all, 0.3);
        }
      }

      .content {
        display: none;
        position: absolute;
        z-index: 9;
        background: #FFF;
        width: 100%;
        border-radius: 10px;
        border: 1px solid $mainColor;
        overflow: hidden;

        @include screen('tabletMin') {
          display: block !important;
          position: relative;
          background: none;
          border-radius: 10px;
        }
      }

      ul {

        li {

          a,
          button {
            width: 100%;
            text-align: left;
            display: block;
            padding: 10px 15px;
            font-size: var(--clamp18);
            font-weight: 500;
            color: #666666;
            position: relative;
            isolation: isolate;

            @include screen('tablet') {
              text-align: center;
            }

            @include screen('xs_mobile') {
              font-weight: 400;
              text-align: center;
              padding: 5px 20px;
            }

            &::before {
              content: '';
              position: absolute;
              inset: 0;
              display: block;
              background: linear-gradient(to right, rgba($mainColor, 1) 0%, rgba($secColor, 1) 100%);
              opacity: 0;
              z-index: -1;
              @include transition(all, 0.3);
            }

            &:hover {
              color: #FFF;

              &::before {
                opacity: 1;
              }
            }
          }

          &.active {

            a,
            button {
              color: #FFF;

              &::before {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .contentBox {
      position: relative;

      @include screen('tabletMin') {
        width: calc(100% - 180px - 50px);
        margin: 0 0 0 auto;
      }
    }
  }
}

// 選單

.menuBox {
  @include transition(all, 0.3);

  @include screenWidth('1200') {
    padding-right: 40px;
  }

  @include screen('tablet') {
    position: fixed;
    left: auto;
    right: 0;
    top: 50px;
    bottom: 0;
    transform: translateX(100%);
    width: 300px;
    height: calc(100vh - 50px);
    height: calc(100dvh - 50px);
    overflow-y: auto;
    scrollbar-color: $mainColor rgba(0, 0, 0, 0.2);
    scrollbar-width: thin;
    background: #fff;
    box-shadow: -5px 10px 10px 0 rgba(0, 0, 0, 0.2);
    padding-right: 0;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      background: $mainColor;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 0;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .mainMenu {

    a,
    button {
      line-height: 1.2;
    }

    & > ul {
      display: flex;
      align-items: center;
      gap: 25px;

      @include screen('tablet') {
        flex-direction: column;
        border-top: #e3e3e3 1px solid;
        gap: 0;
      }

      & > li {
        // padding: 10px;
        position: relative;


        // &:nth-last-child(2),
        &:nth-last-child(1) {
          display: none;

          @include screen('tablet') {
            display: block;
          }
        }

        @include screen('tablet') {
          width: 100%;
          padding: 0;
        }

        & > a,
        & > button {
          color: #000000;
          padding: 15px 0 12px;
          display: block;
          width: 100%;
          font-size: Rem(18);
          position: relative;
          text-align: center;
          text-transform: uppercase;
          @include transition(all, 0.3);

          @include screen('tabletMin') {
            display: flex;
            align-items: center;
          }

          @include screen('tablet') {
            font-size: Rem(18);
          }

          @include screen('mobile') {
            // color: $mainColor;
            padding: 15px 40px;
            border-bottom: #e3e3e3 1px solid;


            // &:hover,
            // &.active {
            //   color: #FFF;
            //   background: $mainColor;

            //   &::before {
            //     width: 100%;
            //   }
            // }
          }

          // @include screen('tabletMin') {
          //   &::before {
          //     content: '';
          //     position: absolute;
          //     width: 10px;
          //     height: 10px;
          //     background: $mainColor;
          //     display: block;
          //     bottom: -5px;
          //     left: 50%;
          //     transform: translateX(-50%) rotate(45deg);
          //     @include transition(all, 0.3);
          //     opacity: 0;
          //   }
          // }

          &.active,
          &:hover {
            color: $mainColor;

            @include screen('tablet') {
              color: #fff;
              background: $mainColor;
            }

            &::before {
              opacity: 1;
            }
          }
        }

      }

      .full {
        position: unset;

        .nextMenuBox {
          width: 100% !important;
          transform: translateX(0) !important;
          background: #BEB9AF;
          border-top: 6px solid $mainColor;

          @include screen('tabletMin') {
            position: fixed;
            left: 0;
            top: 110px;
          }


          .menuListBox {
            padding: 0 20px;
            max-width: 1280px;
            display: flex;
            margin: 0 auto;

            @include screen('tablet') {
              flex-direction: column;
              padding: 0;
            }
          }
        }
      }
    }
  }

  .nextMenuBox {
    position: relative;
    display: none;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 10px;
    overflow: hidden;

    @include screen('tabletMin') {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 160px;


      // &::before,
      // &::after {
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   width: 100%;
      //   height: 3px;
      //   display: block;
      //   background: $mainColor;
      //   transition: none;
      //   pointer-events: none;
      //   transition: transform 1.2s cubic-bezier(.2, 1, .20, 1);
      //   z-index: 99;
      // }

      &::before {
        transform: scaleX(0);
        transform-origin: left;
      }

      &::after {
        transform-origin: right;
        opacity: 0;
      }

      &.active {
        &::before {
          transform: scaleX(1);
          transition-delay: .25s;
        }

        &::after {
          transform: scaleX(0);
          opacity: 1;
        }
      }
    }

    @include screen('tablet') {
      background: rgba(#000, 0.03);
      box-shadow: none;
      border-radius: 0;
    }

    &.active {
      display: block;
      animation: menuUse 0.3s ease-in-out forwards;
    }

    @keyframes menuUse {
      0% {
        opacity: 0;
        transform: translateY(10px) translateX(-50%);
      }

      100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
      }
    }

    a,
    button {
      color: #333333;
      padding: 10px 15px;
      display: block;
      width: 100%;
      text-align: left;
      font-size: Rem(18);
      font-weight: 500;
      position: relative;
      @include transition(all, 0.3);
      // border-top: #e3e3e3 1px solid;
      text-align: center;

      @include screen('tablet') {
        border: none;
        font-size: Rem(16);
        white-space: normal;
        text-align: center !important;
        padding: 15px 40px;
      }

      &:hover {
        color: $mainColor;

        @include screen('tabletMin') {
          color: #FFF;
          background: $mainColor;
        }
      }
    }

    li {
      position: relative;

      & + li {
        border-top: #fff 1px solid;
      }
    }

    .nextMenuBox {
      @include screen('tabletMin') {
        position: absolute;
        top: 0;
        left: 100%;
        transform: none;
      }
    }
  }
}

.mobileOpen .menuBox {
  transform: translateX(0);
}


// sliderDown
.topNav {
  display: flex;
  align-items: center;
  align-self: stretch;

  @include screen('tabletMin') {
    margin-right: 10px;
  }


  .btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: Rem(14);
    padding: 0px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    @include transition(all, 0.3);

    @include screen('tablet') {
      background: none;
    }

    &::before {
      content: '';
      width: 25px;
      height: 25px;
      display: block;
      background: #000;
    }

    &:hover {
      &::before {
        @include screen('tablet') {
          background: $mainColor;
        }
      }
    }
  }

  span {
    margin: 0 6px 0 0;

    @include screen('tablet') {
      display: none;
    }
  }

  ul {
    display: none;
    position: absolute;
    width: 100px;
    max-width: 200px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: #FFF;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;


    li {
      a {
        // color: #FFF;
        text-align: center;
        display: block;
        padding: 2px 20px;
        white-space: nowrap;

        @include screen('mobile') {
          padding: 2px 10px;
        }

        &:hover {
          color: #FFF;
          background: $mainColor;
        }
      }
    }
  }
}

//購物車
.topNav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  @include screen('tablet') {
    right: 50px;
  }

  .inquiry {
    position: relative;

    a,
    button {
      &::before {
        order: 2;
        mask: url('../images/icon/icon_inquiry.svg') center no-repeat;
      }

      span {
        position: relative;
        display: none;
      }
    }

    .hasItem::after {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      display: block;
      background: $mainColor;
      border-radius: 100%;
      top: 5px;
      left: 50%;
      transform: translateX(-30%);
      animation: hasItem 1s infinite;

      @include screen('tablet') {
        top: 5px;
        transform: translateX(0%);
      }
    }
  }

  .contact {
    margin: 0 10px;

    @include screen('tablet') {
      display: none;
    }

    a {
      display: flex;
      align-items: center;
      line-height: 1.2;
      height: 40px;
      gap: 5px;

      @include screen('tabletMin') {
        color: #fff;
        background: $mainColor;
        border: 1px solid $mainColor;
        border-radius: 8px;
        padding: 5px 15px;
      }

      @include screenWidthMin('1200') {
        font-size: Rem(18);
      }

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        mask: url('../images/icon/icon_mail.svg') center no-repeat;
        background: #FFF;

        @include screen('tablet') {
          background: #000;
        }
      }
    }
  }

  .language {
    position: relative;

    button {
      display: flex;
      align-items: center;
      line-height: 1.2;
      height: 40px;
      width: 40px;
      padding: 0;
      margin: 0;
      font-weight: 500;
      gap: 5px;
      overflow: hidden;
      border-radius: 50%;
      background: $mainColor;

      @include screen('tablet') {
        background: none;
      }

      @include screenWidthMin('1200') {
        font-size: Rem(18);
      }

      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        mask: url('../images/icon/icon_language.svg') center no-repeat;
        background: #FFF;
        @include transition(all, 0.3);

        @include screen('tablet') {
          background: #000;
        }
      }

      span {
        display: none;
        color: transparent;
      }
    }

    ul {
      // width: 100%;
      color: #000;
      border: 1px solid $mainColor;
      border-radius: 8px;

      @include screen('tablet') {
        width: 120px;
      }
    }
  }
}


// head搜尋
.menuSearch {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @include screen('tabletMin') {
    background: $mainColor;
    padding: 0 25px;
  }

  & > .btn {
    display: none;

    @include screen('tablet') {
      height: auto;
      display: flex;
      height: 100%;
    }

    &::before {
      top: 0;
      mask: url('../images/icon/icon_search.svg') center no-repeat;

      @include screen('tablet') {
        width: 20px;
        height: 20px;
      }
    }
  }

  .searchOuter {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    @include transition(all, 0.3);
    border-radius: 50px;

    @include screen('tabletMin') {
      padding: 0 10px;
      background: #fff;
    }

    @include screen('tablet') {
      background: $mainColor;
      border-radius: 0px;
      width: 0;
      position: absolute;
      top: 100%;
      bottom: auto;
      height: 50px;
    }

    .searchClose {
      position: relative;
      width: 30px;
      aspect-ratio: 1;
      margin: 0;
      display: none;
      cursor: pointer;

      @include screen('tablet') {
        display: block;
      }

      &::before,
      &::after {
        content: '';
        width: 15px;
        height: 3px;
        top: 50%;
        left: 50%;
        display: block;
        position: absolute;
        background: #fff;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    .searchBox {
      flex-grow: 1;

      input {
        border: none;
        height: 30px;
        color: #fff;

        @include screen('tabletMin') {
          width: 130px;
          color: $mainColor;
        }

        &::placeholder {
          color: #FFF;
        }
      }
    }

    .searchBtn {
      position: relative;
      width: 40px;
      aspect-ratio: 1;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '';
        width: 20px;
        height: 20px;
        display: block;
        mask: url('../images/icon/icon_search.svg') center no-repeat;
        background: $mainColor;

        @include screen('tablet') {
          background: #fff;
        }
      }
    }

    &.active {
      width: 100%;
    }
  }
}

// breadcrumb
.breadcrumbBox {
  z-index: 10;
  margin-right: 15%;

  @include screen('tablet') {
    display: none;
  }

  .breadcrumb {
    font-size: 14px;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: Rem(14);
    color: #fff;
    line-height: 1;


    @include screen('tablet') {
      font-size: 14px;
    }

    @include screen('mobile') {
      margin: 0 0px;
      padding: 10px 0;
    }

    li {
      position: relative;
      display: flex;
      align-items: center;

      &:first-child {
        a {
          &::before {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            mask: url('../images/icon/icon_home.svg') center no-repeat;
            background: #FFF;
          }
        }

        span {
          display: none;
        }
      }

      a {
        color: #fff;
        display: inline;
        @include transition(all, 0.3);

        &:hover {
          color: $secColor;
        }
      }

      &::after {
        content: '>';
        margin: 0px 10px;
        font-weight: bold;
        display: block;
        position: relative;
        font-weight: bolder;
        font-weight: normal;
      }

      &:last-child {
        color: #fff;

        &::after {
          display: none;
        }
      }
    }
  }
}

// footer
.footerBox {
  background: url('../images/fbg.jpg') top center repeat;
  padding: 80px 0;
  position: relative;
  z-index: 9;

  @include screen('tablet') {
    padding: 50px 0 0;
  }

  .container {
    display: flex;

    @include screen('tablet') {
      flex-direction: column;
      gap: 30px;
    }
  }

  .footerSide {
    max-width: 290px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include screen('tablet') {
      max-width: none;
      padding: 0 20px;
    }
  }

  .logo {
    text-align: center;
  }

  .shareBox {
    ul {
      display: flex;
      justify-content: space-between;

      @include screen('tablet') {
        gap: 20px;
        justify-content: center;
      }


      a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        overflow: hidden;
        @include transition(all, 0.3);

        @include screen('tablet') {
          width: 36px;
          height: 36px;
        }

        &::before {
          content: '';
          display: block;
          width: 29px;
          height: 29px;
          background: #fff;
          @include transition(all, 0.3);
        }

        &:hover {

          &::before {
            // background: $secColor;
            opacity: 0.8;
          }
        }
      }

      li .facebook::before {
        // mask: url('../images/icon/icon_facebook.svg') center no-repeat;
        background: url('../images/icon/icon_facebook.png');
        background-size: contain;
      }

      li .line::before {
        mask: url('../images/icon/icon_line.svg') center no-repeat;
      }

      li .wechat::before {
        width: 28px;
        height: 28px;
        mask: url('../images/icon/icon_wechat.svg') center no-repeat;

        @include screen('tablet') {
          width: 24px;
          height: 24px;
        }
      }

      li .whatsapp::before {
        mask: url('../images/icon/icon_whatsapp.svg') center no-repeat;
      }

      li .youtube::before {
        // mask: url('../images/icon/icon_youtube.svg') center no-repeat;
        background: url('../images/icon/icon_youtube.png');
        background-size: contain;
      }

      li .instagram::before {
        mask: url('../images/icon/icon_instagram.svg') center no-repeat;
      }
    }
  }

  .infoBox {
    padding-top: 40px;
    margin-top: 10px;
    border-top: 1px solid rgba(#FFF, 0.35);

    @include screen('tablet') {
      border-top: 1px solid rgba($mainColor, 0.35);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 15px;

      li {
        display: flex;
        position: relative;
        padding-left: 35px;
        color: #fff;

        a {
          color: #fff;
          @include transition(all, 0.3);

          &:hover {
            color: $secColor;
          }
        }

        &::before {
          content: '';
          width: 23px;
          height: 23px;
          background: url('../images/icon/icon_contact.png') top no-repeat;
          filter: grayscale(1) brightness(100);
          display: block;
          position: absolute;
          left: 0;
          top: 0px;
        }

        &.address {
          &::before {
            background-position: 0 0;
          }
        }

        &.tel {
          &::before {
            background-position: 0 -23px;
          }
        }

        &.fax {
          &::before {
            background-position: 0 -46px;
          }
        }

        &.mail {
          &::before {
            background-position: 0 -69px;
          }
        }

        &.time {
          &::before {
            background-position: 0 -92px;
          }
        }

      }
    }
  }

  .footerMenu {
    margin-left: 60px;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(#FFF, 0.35);

    @include screen('tablet') {
      padding-left: 0;
      margin-left: 0;
      border-left: none;
      border-top: 1px solid rgba(#FFF, 0.35);
    }
  }

  .menuBox {
    max-width: 1100px;
    margin: 0 auto;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include screen('tablet') {
      display: none;
    }

    .menu {
      display: flex;
      flex-direction: column;
      gap: 20px;

      &:not(:last-child) {
        flex-grow: 1;
      }

      .title {
        color: $secColor;
        font-weight: 500;
        line-height: 1;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
          opacity: 0.8;
        }
      }

      a {
        display: block;
        color: #fff;
        line-height: 1.2;

        &:hover {
          opacity: 1;
          color: $secColor;
        }
      }
    }
  }

  .copyright {
    font-size: 13px;
    color: rgba(#FFF, 0.8);

    @include screen('tablet') {
      margin: 0 calc(var(--contentPadding) * -1);
      padding: 20px;
      background: url('../images/fbg.jpg') top center repeat;
    }

    a {
      opacity: 0.8;
      display: inline-block;
      margin-left: 10px;

      &:last-child {
        color: $secColor;
      }

      &:nth-last-child(2) {
        color: rgba(#FFF, 1);
        margin-left: 0;
      }

      @include screen('tablet') {
        margin-left: 0;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

// pagination
.pageBox {
  margin-top: 50px;

  @include screen('tablet') {
    padding-top: 30px;
    margin-top: 30px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    @include screen('tablet') {
      gap: 5px;
    }

    li {
      line-height: 1.5;
      text-align: center;

      a {
        display: block;
        width: 36px;
        height: 36px;
        line-height: 33px;
        font-weight: 500;
        font-size: Rem(18);
        line-height: 36px;
        color: #525252;
        border-radius: 50%;
        border: 1px solid transparent;
        @include transition(all, 0.3);

        @include screen('tablet') {
          width: 30px;
          height: 30px;
          font-size: Rem(16);
        }

        &:hover {
          color: $mainColor;
          border: 1px solid $mainColor;
        }
      }

      &.active {
        a {
          color: $mainColor;
          border: 1px solid $mainColor;
        }
      }

      &.controls {

        &:first-child {
          margin: 0 10px 0 0;

          @include screen('tablet') {
            margin: 0 10px 0 0;
          }
        }

        &:last-child {
          margin: 0 0 0 10px;

          @include screen('tablet') {
            margin: 0 0 0 10px;
          }
        }

        a {
          width: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          font-size: Rem(15);
          font-weight: 500;
          border-radius: 100%;
          border: none;
          @include transition(all, 0.3);
          width: 38px;
          aspect-ratio: 1;
          border-radius: 50%;

          &::before {
            content: '';
            width: 15px;
            height: 15px;
            display: block;
            mask: url('../images/icon/icon_arrow_page.svg') center no-repeat;
            background: #000;
            @include transition(all, 0.3);
          }

          &.next {
            &::before {
              transform: scaleX(-1);
            }
          }

          &:hover {
            background: none;

            &::before {
              background: $mainColor;
            }
          }
        }
      }
    }
  }
}

.goTop {
  position: fixed;
  right: 10px;
  z-index: 50;
  bottom: 25%;
  color: $mainColor;
  cursor: pointer;
  @include transition(all, 0.3);
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background: #fff;

  &::before {
    content: '';
    width: 47px;
    height: 47px;
    display: block;
    mask: url('../images/icon/icon_download.svg') center no-repeat;
    mask-size: contain;
    transform: rotate(180deg);
    background: $mainColor;

    @include screen('mobile') {
      width: 30px;
      height: 30px;
    }
  }
}


// formBox
.formBox {

  // @include screen('mobile') {
  //   padding: 20px;
  // }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin: 0 auto;
    gap: 17px;

    & + ul {
      padding-top: 40px;
      border-top: 1px solid $mainColor;
      // gap: 35px;
    }

    li {
      // display: flex;
      text-align: left;
    }
  }

  .textareaItem,
  .inputItem {
    width: calc(50% - 25px);
    position: relative;
    display: flex;
    // flex-direction: column;
    align-items: center;
    // border-bottom: 1px solid #dddddd;
    // border-width: 0 0 1px 0;

    @include screen('mobile') {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }

    &.flexStart {
      align-items: flex-start;
    }

    & > label,
    .label {
      color: #000;
      line-height: 1;
      width: 180px;
      flex-shrink: 0;
      // border-right: 1px solid #ddd;
      display: flex;
      align-items: flex-start;
      // padding: 0 0 0 20px;
      font-size: var(--clamp18);

      @include screen('mobile') {
        font-size: Rem(18);
        // margin: 0 0 10px;
      }
    }

    .select {
      flex-grow: 1;

      &::before {
        width: 0;
        height: 0;
        top: 50%;
        right: 20px;
        transform: translateY(-50%) rotate(0);
        border-style: solid;
        border-width: 10px 6px 0 6px;
        border-color: $mainColor transparent transparent transparent;
      }

      select.selectControl {
        padding: 10px 35px 10px 10px;

        &::-ms-expand {
          display: none;
        }
      }
    }

    select.selectControl,
    input.inputControl,
    textarea.textareaControl {
      font-size: Rem(16);
      line-height: 1;
      flex-grow: 1;
      // margin-left: 15px;
      padding: 12px 15px;
      color: #000;
      border-radius: 0;
      background: transparent;
      border: #BFD2DF 1px solid;
      background: #fff;
      // border-width: 0 0 1px;

      &::placeholder {
        color: #ccc;
      }

      &:focus {
        border: $mainColor 1px solid;
        box-shadow: 0 0 10px 0 $mainColor;
      }
    }

    &.full {
      width: 100%;
    }

    &.required {

      & > label,
      & > .label {
        &::after {
          content: '*';
          color: $importantColor;
          display: block;
          margin: 0 0 0 2px;
          // position: absolute;
          // left: 0;
        }
      }
    }
  }

  .textareaItem {
    align-items: flex-start;
  }

  .flex {
    display: flex;

    @include screen('xs_mobile') {
      flex-direction: column;
    }
  }

  .itemBox {
    ul {
      margin: 0;
      gap: 25px;
    }

    &.checkBox {
      label {
        padding-left: 22px;

        &::before {
          width: 15px;
          height: 15px;
          background: url('../images/icon/checkbox.png') bottom no-repeat;
        }
      }

      &.full {
        ul {
          gap: 15px;
        }

        li {
          width: 100%;
        }
      }

      &.half {
        ul {
          gap: 10px;
        }

        li {
          width: calc((100% - 10px)/2);

          &.other {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 10px;

            .label {
              width: fit-content;
            }
          }
        }
      }
    }

    &.radio {
      label {
        &::before {
          background: url('../images/icon/radio.png') bottom no-repeat;
        }
      }
    }

    label {
      font-size: var(--clamp18);
      display: block;
      padding-left: 24px;
      position: relative;
      line-height: 1.2;

      &::before {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        display: block;
        left: 0px;
        top: 2px;
        z-index: 9;
      }
    }

    input {
      &[type='checkbox'] {
        position: absolute;
        margin-right: 5px;
        opacity: 0;

        &:checked + label::before {
          background: url('../images/icon/checkbox.png') top no-repeat;
        }
      }

      &[type='radio'] {
        position: absolute;
        margin-right: 5px;
        opacity: 0;

        &:checked + label::before {
          background: url('../images/icon/radio.png') top no-repeat;
        }
      }
    }
  }

  a {
    color: #666666;
    font-size: 13px;
    text-decoration: underline;

    &:nth-child(2) {
      margin: 0 auto 0 10px;
    }

    &:hover {
      color: $secColor;
    }
  }

  .checkImg {
    position: absolute;
    bottom: 12px;
    // transform: translateY(-50%);
    right: 50px;
    line-height: 0;
    // margin-top: 10px;
  }

  .reBtn {
    width: 15px;
    height: 15px;
    // margin-top: 10px;
    bottom: 16px;
    // transform: translateY(-50%);
    right: 15px;
    z-index: 2;
    position: absolute;
    cursor: pointer;
    background: none;

    &::before {
      content: '';
      width: 15px;
      height: 15px;
      top: 0;
      left: 0;
      mask: url('../images/icon/icon_re.svg') no-repeat;
      background: #000;
      position: absolute;
      @include transition(all, 0.3);
    }

    &:hover {
      &::before {
        transform: rotate(180deg);
        background: #e50012;
      }
    }
  }
}

// pageBtnBox
.pageBtnBox {
  margin: 40px 0 0;
  display: flex;

  @include screen('notebook') {
    margin: 40px 0 0;
  }

  @include screen('tablet') {
    margin: 30px 0 0;
  }

  .send,
  .back {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 10px;
    color: #fff;
    background: $secColor;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 300;
    overflow: hidden;
    isolation: isolate;
    position: relative;

    &::before {
      content: '';
      width: 13px;
      height: 13px;
      display: block;
      background: url('../images/icon/icon_arrow.svg') center no-repeat;
      filter: invert(1);
    }

    &::after {
      content: '';
      position: absolute;
      width: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      background: $mainColor;
      z-index: -1;
      @include transition(all, 0.3);
    }

    &:hover {
      color: #fff;

      &::after {
        width: 100%;
        left: 0;
      }
    }
  }

  .send {
    font-size: var(--clamp18);
    font-weight: 500;
    padding: 15px 10px;

    &::before {
      order: 5;
      transform: rotate(180deg);
    }
  }
}


.floatNav {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 9;

  a {
    width: 50px;
    height: 50px;
    background: rgb(0, 195, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    @include transition(all, 0.3);

    &::before {
      content: '';
      width: 26px;
      height: 26px;
      display: block;
      mask: url('../images/icon/icon_line.svg') center no-repeat;
      background: #fff;
    }

    &:hover {
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
    }
  }
}


.lightBoxActive {
  overflow: hidden;
  position: relative;

  .lightBoxOut {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
  }
}

.lightBoxOut {
  display: none;
}

.lightBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  max-width: 1320px;
  width: 100%;
  position: relative;

  .picBox {
    margin: 0 auto;
    position: relative;
  }

  .videoBox {
    width: 90vh;
    position: relative;
    margin: 0 auto;

    @media screen and (max-width: 850px) {
      width: 100%;
    }

    .slick-slide div {
      line-height: 0;
    }

    .item {
      position: relative;
      padding: 60px 20px 20px;

      .videoContainer {
        box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.8);
      }

      .title {
        position: absolute;
        font-size: Rem(24);
        font-weight: 800;
        text-align: center;
        left: 0px;
        top: 0px;
        color: #000;
        width: 100%;
        line-height: 1.2;
      }
    }
  }

  &.onlyOne {
    max-width: 900px;

    .videoBox {
      width: 100%;
    }

    .videoList {
      display: none;
    }
  }

  .lightBoxClose {
    color: transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
    width: 30px;
    aspect-ratio: 1;
    cursor: pointer;
    border-radius: 50%;
    border: #fff 2px solid;

    &::after,
    &::before {
      content: '';
      width: 12px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .lds-ellipsis {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;

    div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: 8px;
        -webkit-animation: lds-ellipsis1 0.6s infinite;
        animation: lds-ellipsis1 0.6s infinite;
      }

      &:nth-child(2) {
        left: 8px;
        -webkit-animation: lds-ellipsis2 0.6s infinite;
        animation: lds-ellipsis2 0.6s infinite;
      }

      &:nth-child(3) {
        left: 32px;
        -webkit-animation: lds-ellipsis2 0.6s infinite;
        animation: lds-ellipsis2 0.6s infinite;
      }

      &:nth-child(4) {
        left: 56px;
        -webkit-animation: lds-ellipsis3 0.6s infinite;
        animation: lds-ellipsis3 0.6s infinite;
      }
    }
  }

  .slick-dots {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -30px;
    display: flex;
    align-items: center;
    justify-content: center;

    li {
      margin: 0 10px;

      button {
        padding: 0;
        margin: 0;
        color: transparent;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #909090;
      }

      &.slick-active {
        button {
          background: $mainColor;
        }
      }
    }
  }
}